
.navbar-brand{
    font-size: 30px;
    font-weight: 800;
}

.nav-link{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
}

.textbox{
    color: white;
    width: 90%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
}
.textbox h1{
    font-size: 50px;
}

 .tx-tb{
    color: white;
    width: 90%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
}

.tx-tb p{
    color: white;
}


.words{
    color: black;
    line-height: 35px;
}

 .con-fl{
    background-color: black;
    height: 400px;
    /* max-width: 1600px; */
}



h4{
    font-size: 30px;
    margin-top: 40px;
    color: white;
    text-align: center;
}

.btn-bg{
    color: white;
    font-size: 10px;
    border: 2px solid white;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 20px;
}

.footer{
    height: 150px;
    background-color: black;
    color: red;
    text-align: center;
}
.line{
    padding-top: 10px;
    font-size: 24px;
}
.button{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding-bottom: 5px 18px;
}
.button:hover{
    color: red;
}
 /* About Us */



/*contact page*/
.con-box{
    margin-top: 100px;
}


/*explore page*/ 
.row-exp{
    margin-top: 100px;
}

/*exp1*/

.con-exp1{
    margin-top: 120px;
}

.con-exp4 img{

    width: 350px;
    height:400px;
    
}